<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <title>HBNB</title>
</head>
<body class="container">
    <div class="hbnb">
        <section class="filters">
            <!-- Filters section -->
        </section>
        <section class="places">
            <!-- Places section -->
        </section>
    </div>
</body>
</html>
